@import "./theme/theme";
@import "./components/_category.scss";
@import "./components/_categoryId.scss";
@import "./pages/_quizHome.scss";

@import "./components/_navbar.scss";
@import "./components/homeblock.scss";

* {
    margin: 0;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;

  }

  .container.v-container-category{
    background: url( '../img/night.jpeg') no-repeat center center;
    background-size: cover;
  }
